:root {
    /* Primitives */

    /* Green */
    --color-brand-green-900: #144A1F;
    --color-brand-green-800: #246C32;
    --color-brand-green-700: #388E49;
    --color-brand-green-600: #51B063;
    --color-brand-green-500: #6DD281;
    --color-brand-green-400: #8EF4A2;
    --color-brand-green-300: #ACFFBC;
    --color-brand-green-200: #C4FFD0;
    --color-brand-green-100: #DCFFE3;
    --color-brand-green-50: #F4FFF6;
    /* Accent */
    --color-accent-green-900: #2E4F19;
    --color-accent-green-800: #416C26;
    --color-accent-green-700: #558936;
    --color-accent-green-600: #6BA747;
    --color-accent-green-500: #82C45A;
    --color-accent-green-400: #9AE16F;
    --color-accent-green-300: #B3FE87;
    --color-accent-green-200: #CAFFAB;
    --color-accent-green-100: #E1FFCF;
    --color-accent-green-50: #F7FFF3;
    /* Blue */
    --color-extended-blue-900: #113E4D;
    --color-extended-blue-500: #6BD8FC;
    --color-extended-blue-100: #C4F0FF;
    /* yellow */
    --color-extended-yellow-900: #5C4100;
    --color-extended-yellow-500: #FFB401;
    --color-extended-yellow-100: #FFEAB8;
    /* orange */
    --color-extended-orange-900: #5B3700;
    --color-extended-orange-500: #FE9900;
    --color-extended-orange-100: #FFE2B7;
    /* Red */
    --color-extended-red-900: #5C0600;
    --color-extended-red-500: #FF2414;
    --color-extended-red-100: #FFC1BD;
    /* black */
    --color-neutral-overlay-900: #00000077;
    /* White */
    --color-neutral-white-900: #FFFFFF;
    /* Gray */
    --color-neutral-black-900: #222222;
    --color-neutral-gray-900: #4B4B4B;
    --color-neutral-gray-800: #5F5F5F; 
    --color-neutral-gray-700: #747474;
    --color-neutral-gray-600: #888888;
    --color-neutral-gray-500: #9C9C9C;
    --color-neutral-gray-400: #B1B1B1;
    --color-neutral-gray-300: #C5C5C5;
    --color-neutral-gray-200: #DADADA;
    --color-neutral-gray-100: #EEEEEE;
    --color-neutral-gray-50: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Onest', sans-serif;
    background-color: var(--color-neutral-white-900);
    color: var(--color-neutral-black-900);
}
.logo {
    width: 110px;
    height: auto;
}
h1 {
    font-size: 64px;
    font-weight: 700;
    color: var(--color-neutral-black-900);
}
p {
    font-size: 18px;
    color: var(--color-neutral-gray-900);
    margin-top: 20px;
    margin-bottom: 30px;
}
/* header {
    min-height: 600px;
} */